<h1>This is Registration page </h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <button>Register Here!</button>
</form>
  <li><a href="/register">sign up!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>