<h1>This is the secret page....</h1>
<p>You found me</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc_ySQIvOplz_NPBTVYjTD96o4mqtCUyBz8hKtEuZpNZG5cCqlXA">

  <li><a href="/register">sign up!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>