<% include ../partials/header %>
<header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!!</h1>
      <p>View the visiting card of professionals from all over the world!!</p>
      <p>
        <a class="btn btn-primary btn-large" href="/cards/new">Add New visiting card</a>
      </p>
   
        
</header>

    <% cards.forEach(function(cards){%>
       <div class="col-md-3 col-sm-6">
          <div class="thumbnail" >
                <img src="<%= cards.image %>">
             <div class="caption">
                 <h4><%= cards.name %></h4>
                     <p>
                         <a class="btn btn-primary" href="/cards/<%= cards._id %>">More Info</a>
                     </p>
             </div>
         </div>
      </div>
     <% }); %>
    </div>



<% include ../partials/footer %>