<% include partials/header %>
<h1>I fell in love with <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase()==="farhina"){ %>
<p>Excellent choice, farhina is best !!</p>
<% } else{ %>
<p>what happen to you, What are you doing with your life go ahead and propose farhina!!! </p>
<% } %>
<p>P.S this is the love.ejs file</p>
        
 <% include partials/footer %>