<% include ../partials/header %>

    <div class="abc text-center mb-4">
      <h1 id="def">Welcome to YelpCamp!!</h1>
    <p>View our hand-picked CampGround from all over the world!!</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New CampGround</a>
      </p>
    </div>
    <div class="container">
<div class="row text-center mb-4" id="card-grid">     
        <% campgrounds.forEach(function(campgrounds){%>
     <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
         <div class="card" style="">
             <img class="card-img-top" src="<%= campgrounds.image %>" alt="<%= campgrounds.name %>" style="height: 10rem;">
                 <div class="card-body">
                      <h5 class="card-title"><%= campgrounds.name %></h5>
                       <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-primary">More Info</a>
            </div>
        </div>
     </div>
   <% }); %>
</div> 
</div>



<% include ../partials/footer %>